Source: vdr-plugin-skindesigner
Section: video
Priority: extra
Maintainer: Frodo <frodo.vdr@gmx.net> 
Uploaders: Frodo <frodo.vdr@gmx.net> 
Build-Depends: debhelper (>= 9), vdr-dev (>= 2.0.0), pkg-config, gettext, libjpeg-dev, librsvg2-dev, libcairo2-dev, libxml2-dev
Standards-Version: 3.9.3
Homepage: http://projects.vdr-developer.org/projects/plg-skindesigner

Package: vdr-plugin-skindesigner
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${vdr:Depends}
Recommends: fonts-ds-digital, skindesigner-logos, fonts-vdropensans, fonts-sourcesanspro, ttf-ubuntu-font-family
Description: skindesigner skin template for VDR
 skindesigner is a highly customizable true color skin for the
 on-screen-display (OSD) of the Linux Video Disc Recorder VDR.

Package: vdr-plugin-skindesigner-dbg
Architecture: any
Section: debug
Priority: extra
Depends: vdr-plugin-skindesigner (= ${binary:Version}), ${misc:Depends}
Description: skindesigner skin template for VDR - debugging symbols
 skindesigner is a highly customizable true color skin for the
 on-screen-display (OSD) of the Linux Video Disc Recorder VDR.
 .
 This package contains the debugging symbols.

